<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />
    <application android:name=".NotebookApplication" android:label="@string/app_name" android:icon="@drawable/ic_notebook" android:theme="@style/Theme.Notebook" android:allowBackup="false" android:supportsRtl="true">
        <activity android:name=".NotebookActivity" android:exported="true" android:windowSoftInputMode="adjustResize">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
        <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.photos" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/photo_paths"/>
        </provider>
    </application>
</manifest>
